/* Account for fixed bar on top */
body{
    padding-top: 40px;
}

h1#header{
    font-weight: lighter;
}

li.header{
    padding-left: 10px;
    font-weight: bold;
}

.navbar .btn-mini {
    margin-top: 10px;
}

.movie_title{
    color: #EEE;
    font-weight: bolder;
    font-size: 30px;
    line-height: 1em;
    margin-top: 5px;
    margin-left: 5px;
    opacity: 0.7;
}

.topheader{
    padding-bottom: 30px;
    background: #eee;
}

div#modal_backdrop{
    height: 160px;
    width: 100%;
    background-repeat: none;
}

.thumbnail_bottom{
    bottom: 0;
    background: black;
    opacity: .5;
    height: 40px;
    width: 100%;
    position: absolute;
}

#modal_img_container #rating_badge{
/*    margin-top: 10px;*/
}

#modal_content{
    height: 200px;
    /*overflow-y: hidden;*/
}

#modal_rating{
    color: #FFF;
    margin: 10px;
    font-size: 20px;
}

#modal_progress{
    display: none;
}

#modal_desc{
    max-height: 100px;
    overflow-y: scroll;
}

#modal_bottom_info{
    background: #000;
    opacity: .5;
    padding: 5px 0 5px 10px;
    width: 550px;
}

#modal_bottom_info p, #modal_bottom_info h3{
    color: #FFF;
    opacity: 1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    line-height: 1.2em;
    margin: 0;
}

div.modal-body{
    padding: 5px 14px 0px;
}

/* Cast */
.cast_li{
    height: 155px;
    width: 140px;
}


button.close{
    padding:5px;
}

@media (min-width: 768px)   {
    .thumbnail.search_thumbnail{
        overflow: hidden;
        height: 143px;
    }
}

@media (min-width: 980px)   {
    .thumbnail.search_thumbnail{
        overflow: hidden;
        height: 195px;
    }
}

@media (min-width: 1200px)   {
    .thumbnail.search_thumbnail{
        overflow: hidden;
        height: 240px;
    }

    .thumbnail_bottom li{
        width: 85px;
    }
}

select#add_to_list{
    display: none;
}


/* Helper classes */
.rel{position: relative;}
.abs{position: absolute;}
.abs-top{top:0px;}
.abs-right{right:0px;}
.abs-bottom{bottom:0px;}
.abs-left{left:0px;}